/* File: app.component.css
Author: Barrabas Maximilian
Copyright: 2022, Barabas Maximilian 
Group: Szoft 2 N
Date: 2023.01.10
Github: https://github.com/maximilianbarabas
Licenc: GNU GPL */

table 
{
    background-color: white;
    color: black;
}