<!--
File: tomb.component.html
Author: Barrabas Maximilian
Copyright: 2022, Barabas Maximilian 
Group: Szoft 2 N
Date: 2023.01.10
Github: https://github.com/maximilianbarabas
Licenc: GNU GPL 
-->

<div class="container justify-content-center">
    <h1 class="title">Tombok</h1>
    
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Fejleszto</th>
                <td>Barabas Maximilian</td>
            </tr>
            <tr>
                <th>Osztaly</th>
                <td>Szoft_II_N</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>2023.01.10.</td>
            </tr>
            <tr>
                <th>GitHub</th>
                <td>
                    <a  target="_blank"
                        href="https://github.com/maximilianbarabas">Github
                    </a>
                </td>
            </tr>
        </tbody>
    
    </table>
</div>